{% extends "base2.html" %}

{% block content %}
<!-- Navbar -->
<div class="navbar">
    <div class="icon-text-group">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/journal.png') }}" 
            alt="Icon" class="navbar-icon"></a>
        <span>SuperSaver</span>
    </div>
</div>

<!-- Main Content -->
<div class="content">
    <!--img src="{{ url_for('static', filename='img/moneytree2.jpg') }}" alt="Big Image" class="big-image"-->
    <div>
        <h1 class = "Sign-in-txt">Sign up</h1>
        <!--<p>Join now and get 50% off <br> and the deal of a lifetime <br>right before your eyes</p-->
        <div class = "signInBg">
            <p class = "usernameSignIn">username: </p>
            <input type="text" name="usernameText" id="textbox1">
        <div class = "password">
            <p class = "passwordSignIn">password: </p> 
            <input type="text" name="passwordText" id="textbox2">
        </div>
        <div class = "enterBtn">
            <a href="{{ url_for('index2') }}" class="enter-btn">Enter</a>
        </div>
        <p class ="signUptxt">Already have an<br>account? </p>
        <a href="{{ url_for('signIn') }}" class = "Sign-upBtn">Sign In</a>
    </div>

    </div>
</div>

<!-- Line Separator -->


<!-- Additional sections as described -->
<!-- ... -->

{% endblock %}