<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<!-- Navbar -->


<!-- Main Content -->
<div class="contentTotal">
    <!--<img src="{{ url_for('static', filename='img/moneytree2.jpg') }}" alt="Big Image" class="big-image">-->
    <div>
        <h1 class = 'TotalSavingsNeeded'>Total Savings Needed</h1>
        <div class = "progressBg"></div>
        <div class = "totalSavingsBg">

       <!--WHERE ADDED NUMBERS SHOULD BE DISPLAYED--> <h1 class="totalNumbers">${{ totalneeded }}</h1>

        <p class="motivationalSpeech">Keep going! You're almost there!</p>
    </div>
    </div>
</div>

<!-- Line Separator -->

<!-- Additional sections as described -->
<!-- ... -->


{% endblock %}