<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<!-- Navbar -->
<div class="navbar">
    <div class="icon-text-group">
        <img src="{{ url_for('static', filename='img/journal.png') }}" alt="Icon" class="navbar-icon">
        <span>SuperSaver</span>
    </div>
    <div class="button-group">
        <a href="{{ url_for('spending_habits') }}">Spending Habits</a>
        <a href="{{ url_for('total_savings') }}">Total Savings</a>
        <a href="{{ url_for('savings_journal') }}" class="red-btn">Savings Journal</a>


    </div>
</div>

<!-- Main Content -->
<div class="content">
    <img src="{{ url_for('static', filename='img/moneytree2.jpg') }}" alt="Big Image" class="big-image">
    <div>
        <h1>Changing <br>savings one <br>day at a time</h1>
        <p>Join now and get 50% off <br> and the deal of a lifetime <br>right before your eyes</p>
        <div class = "startBtn">
        <button class="red-btn">Start Now</button>
    </div>

    </div>
</div>

<!-- Line Separator -->
<hr>

<!-- Additional sections as described -->
<!-- ... -->

{% endblock %}
