<!-- templates/index.html -->
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}

<!-- Main Content -->
<div class="content">
    <img src="{{ url_for('static', filename='img/moneytree2.jpg') }}" alt="Big Image" class="big-image">
    <div>
        <h1>Changing <br>savings one <br>day at a time</h1>
        <p>Join now and get 50% off <br> and the deal of a lifetime <br>right before your eyes</p>
        <div class = "startBtn">
        <button class="red-btn">Start Now</button>
    </div>

    </div>
</div>

<!-- Line Separator -->
<hr>

<!-- Additional sections as described -->
<!-- ... -->
<div class="content">
    <img src="{{ url_for('static', filename='img/coins.jpg') }}" alt="Big Image" class="coins-image">
    <div>
        <p class = "coins-text">Savings such a hassle.<br> Allow us to take it from<br> here!</p>

    </div>
</div>
<div class="content">
    <img src="{{ url_for('static', filename='img/savingsjar.jpg') }}" alt="Big Image" class="jar-image">
    <div>
        <p class = "jar-text">With SuperSaver, you’ll<br> be able to manage and<br> keep track of the things<br> you want in no time.</p>
    </div>
</div>
<div class="content">
    <img src="{{ url_for('static', filename='img/savingswallet.jpg') }}" alt="Big Image" class="wallet-image">
    <div>
        <p class = "wallet-text">Don’t lose focus on the<br> things you want with<br>SuperSaver.</p>
    </div>
</div>

{% endblock %}
